.lockPass {
    padding: 12px 20px;
}

.lockSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.lockSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.activate {
    padding: 12px 20px;
}

.showPass .viewContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.showPass .viewContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.showPass .viewCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.showPass .viewContainer:hover input ~ .viewCheckmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.showPass .viewContainer input:checked ~ .viewCheckmark {
  background-color: #2196F3;
}

/* Create the viewCheckmark/indicator (hidden when not checked) */
.showPass .viewCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the viewCheckmark when checked */
.showPass .viewContainer input:checked ~ .viewCheckmark:after {
  display: block;
}

/* Style the viewCheckmark/indicator */
.showPass .viewContainer .viewCheckmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.showPass {
  padding-bottom: 10px;
  text-align: left;
  margin: auto;
  vertical-align: bottom;
}

.inputUsername {
  padding: 12px 20px;
}

.userIcon {
  color: #2196F3;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-size: 35px;
}

.userIcon:hover {
  opacity: .85;
  cursor: pointer;
}

#checkPasswordPopup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  margin: 0 auto;
  animation: fadeIn 500ms ease-in;
}

#checkPassword {
  background-color: #fefefe;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  width: 35%;
  text-align: center;
  animation: fadeTop 450ms ease-in;
}

#checkPassword hr {
  border: 3px solid rgb(241, 241, 241);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeTop {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}