#mainTitle h1 {
    text-align: center;
    font-size: 30px;
}

.settingsSection {
    padding: 12px 20px;
}

.acceptBtn {
    background-color: #2196F3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.acceptBtn:hover {
    opacity: .8;
}

#checkPasswordPopup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    margin: 0 auto;
    animation: fadeIn 500ms ease-in;
}
  
#checkPassword {
    background-color: #fefefe;
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    width: 35%;
    text-align: center;
    animation: fadeTop 450ms ease-in;
}
  
#checkPassword hr {
    border: 3px solid rgb(241, 241, 241);
}
  
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
  
    100% {
        opacity: 1;
    }
}
  
@keyframes fadeTop {
    0% {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
  
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}